<section class="bg-primary" style="background-color:#E6E7E8;opacity: 0.5;height: 100%;padding:2% 5% 2% 5%;" id="construction">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div> -->
    <div style="height: 35%;" class="col-md-7 col-sm-7 text-center">
        <!-- <img style="max-width: 80%;max-height: 90%;" src="construct_page-0001.jpg" > -->
        <img style="max-width: 100%;max-height: 100%;border-radius:2%" src="construct_page-0001.jpg" >
    </div>
    <div style="height: 35%;" class="col-md-5 col-sm-5 text-center">
        <div style="vertical-align: middle;">
            <h1 style="color: black;margin-top:8%;">
                <span style="font-weight: 600;font-family: Caveat">Overall Description</span> 
            </h1>
            <h4 style="color: black;text-align: left;margin-top:4%;">
                Current video depth datasets are limited in both diversity and volume. 
                To compensate for the data shortage and boost the performance of learning-based video depth models, 
                we elaborate a large-scale natural-scene dataset, 
                <span style="font-weight: 800;">Video Depth in the Wild (VDW)</span>. 
                To the best of our knowledge, our VDW dataset is currently 
                <span style="font-weight: 800;">the largest</span> video depth dataset with <span style="font-weight: 600;">the most diverse</span> video scenes.
            </h4>
        </div>
    </div>

    <div style="height: 35%;margin-top: 5%;" class="col-md-5 col-sm-5 text-center">
        <div style="vertical-align: middle;">
            <h1 style="color: black;margin-top:8%;">
                <span style="font-weight: 600;font-family: Caveat">Overall Description</span> 
            </h1>
            <h4 style="color: black;text-align: left;margin-top:4%;">
                Current video depth datasets are limited in both diversity and volume. 
                To compensate for the data shortage and boost the performance of learning-based video depth models, 
                we elaborate a large-scale natural-scene dataset, 
                <span style="font-weight: 600;">Video Depth in the Wild (VDW)</span>. 
                To the best of our knowledge, our VDW dataset is currently 
                <span style="font-weight: 600;">the largest</span> video depth dataset with <span style="font-weight: 600;">the most diverse</span> video scenes.
            </h4>
        </div>
    </div>
    <div style="height: 35%;margin-top: 5%;" class="col-md-7 col-sm-7 text-center">
        <img style="max-width: 100%;max-height: 100%;border-radius:2%" src="construct_page-0001.jpg" >
    </div>


</section>
