<!-- <section class="bg-primary container statistics-pagepadding" style="background-color:lightgray;width:100%;opacity: 1;" id="download"> -->
<section class="container statistics-pagepadding" style="width:100%;" id="download">
    <div class="container" style="padding:0% 2% 8% 2%;background-color:white;width:100%;opacity: 1;">

        <div style="text-align: center;color: rgb(50, 50, 50);max-width: 96%;margin: 1% auto 2% auto;">
            <p style="margin: 0% 1% auto;text-align: left;" class="sec-title">Download and Applications</p>
        </div>
        <div style="width: 100%;" class="container download-textpadding">
            <div style="margin: 1% auto;text-align: justify;" class="text-justify download-maintext">
                <p>We have released the VDW dataset under strict conditions. We must ensure that the releasing of VDW dataset won’t violate any copyright laws and requirements. To this end, we will not release any video frames or the derived data. Instead, we provide the meta data and detailed toolkits, which can be used to reproduce VDW or generate your own dataset. 
                    All our released meta data and toolkits are licensed under <span style="color: #007AFC;"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode"  style="color: #007AFC;">CC BY-NC-SA 4.0</a></span>,
                    which can only be used for academic and research purposes. The VDW dataset cannot be adopted for any commercial usage. </p>
                <p>The VDW test set is with 90 videos and 12622 frames, while the VDW training set contains 14203 videos with over 2 million frames (8TB on hard drive).
                We also provide a VDW demo set with two sequences. Users could leverage the 
                    <span style="color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW_Dataset_Toolkits"  style="color: #007AFC;">VDW official toolkits</a></span> with demo sequences to learn about our data processing pipeline. </p>
                <p>The release of VDW dataset will be divided into two parts: (1) Downloading for metadata; (2) Toolkits for data usage or constructions.</p>
            </div>
        </div>
        
        <div class="container download-textpadding" id="metadata" style="width: 100%;">
            <p class="download-subtitle">Updates</p>
            <div style="margin: 1% auto;text-align: justify;" class="text-justify download-maintext">
                <ol class="license-list-marginbottom download-listtext" style="list-style-type: disc;margin: 0.25em 0 1.25em;padding-left: 2em;list-style-position: initial;list-style-image: initial;text-align: justify;hyphens: auto;">
                    <li><strong>[2023.09.09]</strong> The VDW official website is released, along with the VDW application <span style="color: #007AFC;"><a href="mailto:vdw.dataset@gmail.com" style="color: #007AFC;">mailbox</a></span>. </li>
                    <li><strong>[2023.01.22]</strong> The metadata, application, and <span style="color: #007AFC;"><a href="https://github.com/RaymondWang987/NVDS" style="color: #007AFC;">evaluation code</a></span> of the VDW test set. </li>
                    <li><strong>[2024.06.03]</strong> The <span style="color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW_Dataset_Toolkits"  style="color: #007AFC;">VDW official toolkits</a></span> with demo sequences. </li>        
                    <!--                     <li><strong>[TODO]</strong> Preparing the metadata of the VDW training set. </li>                   -->
                </ol>
<!--                 <p>The release of VDW dataset will be divided into three parts: (1) Downloading for metadata; (2) Application for our processed VDW Dataset; and (3) Toolkits for data usage or constructions.</p> -->
            </div>
        </div>        

        

        <div class="container download-textpadding" id="metadata" style="width: 100%;">
            <p class="download-subtitle">Download For Metadata</p>
            <div style="margin: 1% auto;text-align: justify;" class="text-justify download-maintext">
                <p>We present VDW metadata for downloading. Downloading our metadata represents your agreement to our license and conditions. For the metadata of each sequence, we provide movie name, IMDB numbers, resolutions, movie durations (second), sequence start time, end time, cropping area (Four coordinate values from the upper left corner to the lower right corner). The downloading of metadata is presented as follows:
                The generation and inspections of the meta data for the large training set requires lots of time and work. We will also release that part once we are ready.</p>
                <ol class="license-list-marginbottom download-listtext" style="margin: 1.25em 0;padding-left: 2em;list-style-position: initial;list-style-image: initial;text-align: justify;hyphens: auto;">
                    <li id="s1a"><span style="font-weight: 600;color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW/blob/main/vdw_test_metadata.txt"  style="color: #007AFC;">VDW Test Set</a></span></li>
                    <li id="s1a"><span style="font-weight: 600;color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW/blob/main/vdw_demo_metadata.txt"  style="color: #007AFC;">VDW Demo Set</a></span></li>
                    <li id="s1e"><strong>VDW Training Set</strong>. </li>                  
                </ol>
            </div>
        </div>


        <div class="container download-textpadding" id="metadata" style="width: 100%;">
            <p id="application" class="download-subtitle">Toolkits</p>
            <div style="margin: 1% auto;text-align: justify;" class="text-justify download-maintext">
                <ul class="license-list-marginbottom download-listtext" style="margin: 1.25em 0;padding-left: 2em;list-style-position: initial;list-style-image: initial;text-align: justify;hyphens: auto;">
                    <li id="s1a"><span style="font-weight: 600;color: #007AFC;"><a href="https://github.com/RaymondWang987/NVDS"  style="color: #007AFC;">Evaluations on VDW Test Set</a></span></li>
                    <li id="s1a"><span style="font-weight: 600;color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW_Dataset_Toolkits"  style="color: #007AFC;">Official Toolkits for Data Generation</a></span></li>
<!--                     <li id="s1b"><strong>Video Preprocessing Code</strong> (Coming soon)</li>
                    <li id="s1e"><strong>Disparity Annotations Code</strong> (Coming soon)</li>                   -->
                </ul>
            </div>
        </div>

        
        <div class="container download-textpadding" id="metadata" style="width: 100%;">
            <p id="application" class="download-subtitle">For More Information</p>
            <div style="margin: 1% auto;text-align: justify;" class="text-justify download-maintext">
                <p> Our VDW dataset cannot be used for any commercial purposes. If you need more help or information to generate disparity, you can contact the VDW's official email: <span style="color: #007AFC;"><a href="mailto:vdw.dataset@gmail.com"  style="color: #007AFC;">vdw.dataset@gmail.com</a></span>. 
                Please use the <span style="color: #007AFC;"><a href="https://github.com/RaymondWang987/VDW/raw/main/VDW_Application_Form.docx"  style="color: #007AFC;">template</a></span> to specify your requirements. 
                Your name, institution, purposes, and agreement to our 
                <a href="https://raymondwang987.github.io/VDW/#license" style="font-weight: 800;color: #007AFC;">License</a> should be included. We will send you feedback on 3-5 weekdays.</p>
            </div>
        </div>
        
    
    </div>
        

</section>


