<!-- <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="../img/header.jpg">
        <source src="../img/header.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div> -->
<!-- <div class="video-box">
    <video class="video-background" preload="auto" loop playsinline autoplay src="../img/header.mp4" tabindex="-1" muted="muted"></video>
</div> -->
<div class="video-box">
    <video class="video-background" preload="auto" loop playsinline autoplay src="0718_1_x264.mp4" tabindex="-1" muted="muted"></video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Video Depth in the Wild (VDW)</h1>
            <hr>
            <p>To be edited</p>
            <a href="https://raymondwang987.github.io/NVDS/" class="btn btn-primary btn-xl page-scroll" style="margin-right: 10%;">Project Page</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-right: 10%;">Project Page</a>

            <!-- <div style="width:50%;margin:auto">
                <div style="position: relative;;width:25%;margin:auto;margin-right:50%;">
                    <div class="video-leftbtn">
                        <a href="https://raymondwang987.github.io/NVDS/" class="btn btn-primary btn-xl page-scroll">Project Page</a>
                    </div>
                </div>
                <div style="position: relative;width:25%;margin:auto;margin-left:50%;">
                    <div class="video-rightbtn">
                        <a href="#about" class="btn btn-primary btn-xl page-scroll">Project Page</a>
                    </div>
                </div>
            </div> -->
            <!-- <div data-cues="slideInDown" data-group="page-title-buttons" data-delay="900" class="d-flex justify-content-center justify-content-lg-start">
                <span><a href="https://htmlpage.cn/builder/" class="btn btn-lg btn-primary rounded-pill me-2">马上使用</a></span>
                <span><a href="https://htmlpage.cn" class="btn btn-lg btn-outline-primary rounded-pill">了解更多</a></span>
            </div> -->
        </div>
    </div>
</div>
<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header> -->
<!-- <video controls="controls">
    <source src="https://raw.githubusercontent.com/RaymondWang987/VDW/main/img/header.mp4" type="video/mp4">
    您的浏览器不支持video格式
</video> -->