<!-- <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="../img/header.jpg">
        <source src="../img/header.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div> -->
<!-- <div class="video-box">
    <video class="video-background" preload="auto" loop playsinline autoplay src="../img/header.mp4" tabindex="-1" muted="muted"></video>
</div> -->
<div class="video-box">
    <video class="video-background" preload="auto" loop playsinline autoplay src="0718_1_x264.mp4" tabindex="-1" muted="muted"></video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Video Depth in the Wild (VDW)</h1>
            <hr>
            <p>To be edited</p>
            <a href="https://raymondwang987.github.io/NVDS/" class="btn btn-primary btn-xl page-scroll">Project Page</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Project Page</a>
        </div>
    </div>
</div>
<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header> -->
<!-- <video controls="controls">
    <source src="https://raw.githubusercontent.com/RaymondWang987/VDW/main/img/header.mp4" type="video/mp4">
    您的浏览器不支持video格式
</video> -->