<!-- <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="../img/header.jpg">
        <source src="../img/header.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div> -->
<!-- <div class="video-box">
    <video class="video-background" preload="auto" loop playsinline autoplay src="../img/header.mp4" tabindex="-1" muted="muted"></video>
</div> -->

<div class="video-box">
    <video class="video-background" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="http://storage.live.com/items/42991519E1F074E0!1846?authkey=!AIoQTxXP-T9Mb-c" type="video/mp4">
    </video>
    <!-- <video class="video-background" preload="auto" loop playsinline autoplay src="0718_1_x264.mp4" tabindex="-1" muted="muted"></video> -->
    <!-- <video class="video-background" preload="auto" loop playsinline autoplay src="http://storage.live.com/items/42991519E1F074E0!1846?authkey=!AIoQTxXP-T9Mb-c" tabindex="-1" muted="muted"></video> -->
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-family: Mynerve;">Video Depth in the Wild (VDW)</h1>
            <hr>
            <!-- <div class="animate__animated animate__slideInDown" style="animation-delay: 0.3s;animation-duration: 1s;animation-name: slideInDown;"><p>To be edited</p></div> -->
            <p style="font-size: 24px;">To be edited</p>
            <!-- <a href="https://raymondwang987.github.io/NVDS/" class="btn btn-primary btn-xl page-scroll" style="margin-right: 5%;margin-left: 5%;margin-top: 2%; ">
            Project Page</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="margin-right: 5%;margin-left: 5%;margin-top: 2%;">
            Project Page</a> -->
        </div>
        <div class="header-content-inner">
            <!-- <button style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:180px" class="btn btn-l1 btn-xl page-scroll" href="projects.html">
                <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i> Project Page
            </button> -->
            <!-- <a style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:180px" class="btn btn-l1 btn-xl page-scroll" href="projects.html"> Project Page </a> -->
            <a style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:210px" class="btn btn-l1 btn-xl page-scroll" href="https://raymondwang987.github.io/NVDS/">
                <div><i class="fa fa-file-code-o wow bounceIn"></i>&nbsp;Project Page</div></a>
            <a style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:210px" class="btn btn-r1 btn-xl page-scroll" href="https://arxiv.org/abs/2307.08695">
                <div><i class="fa fa-file-text-o wow bounceIn"></i>&nbsp;Paper</div></a>
        </div>
        <div class="header-content-inner">
            <a style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:210px" class="btn btn-l2 btn-xl page-scroll" href="https://github.com/RaymondWang987/NVDS">
                <div><i class="fa fa-github wow bounceIn"></i>&nbsp;GitHub</div></a>
            <a style="margin-right: 5%;margin-left: 5%;margin-top: 2%;width:210px" class="btn btn-r2 btn-xl page-scroll" href="https://youtu.be/SNV9F-60xrE">
                <div><i class="fa fa-youtube wow bounceIn"></i>&nbsp;Video</div></a>
        </div>
    </div>
</div>
<a style="z-index: 9;" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects.html">Projects</a>
<a style="z-index: 9;" class="btn btn-l1" href="projects.html">Projects</a>
<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header> -->
<!-- <video controls="controls">
    <source src="https://raw.githubusercontent.com/RaymondWang987/VDW/main/img/header.mp4" type="video/mp4">
    您的浏览器不支持video格式
</video> -->