<section class="bg-primary container" style="background-color:#7c944b;width:100%;opacity: 1;padding:3% 6% 3% 6%;" id="statistics">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">#E6E7E8
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div> -->

    <!-- <div style="margin: auto;" class="height-md-2 height-sm-2 height-xs-1"> -->
    <div style="width: 100%;" class="container construct-container construct-margin">
        <div class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <!-- <img style="max-width: 100%;max-height: 100%;border-radius:2%;background-color: lightgray;" src="construct_page-0001.svg" > -->
            <img style="max-width: 100%;max-height: 100%;border-radius:2%;" src="statistics_page-0001.png" >
        </div>
        <div style="margin: auto;" class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div style="vertical-align: middle;">
                <h6 style="color: black;margin-top:0px;">
                    <span style="font-weight: 1000;font-family: Caveat">Dataset Comparisons</span> 
                </h6>
                <h4 style="color: black;text-align: left;margin-top:4%;font-family:Calibri;hyphens: auto;max-width: 90%;margin: auto;text-align: justify;" class="text-justify">
                    VDW dataset has larger numbers of video scenes. 
                    Compared with the closed-domain datasets, VDW is not restricted to a certain scene, which is more helpful to train a robust video depth model. 
                    For the natural-scene datasets, VDW has more than ten times the number of videos as the previous largest dataset <span style="font-weight: 800;color: #007AFC;"><a href="https://sites.google.com/view/wsvd/home" style="color: #007AFC;">WSVD</a></span>. 
                    It is also worth noticing that our VDW dataset has higher resolutions. We only collect videos over 1080p and crop them to 1880 × 800 to remove black bars and subtitles. 
                </h4>
            </div>
        </div>
    </div>
    
    <!-- <div style="margin-top: 4%;" class="height-md-2 height-sm-2 height-xs-1"> -->
    <div style="width: 100%;" class="container construct-container construct-margin">
        <div class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <img style="max-width: 100%;max-height: 100%;border-radius:2%;" src="statistics_page-0003.png" >
            <h6 style="color: black;margin-top:1%;">
                <span style="font-weight: 1000;font-family: Caveat">VDW Training Set</span> 
            </h6>
        </div>
        <div style="margin: auto;" class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div style="vertical-align: middle;">
                <h6 style="color: black;margin-top:0px;">
                    <span style="font-weight: 1000;font-family: Caveat">Train&nbsp;/&nbsp;Test Split</span> 
                </h6>
                <h4 style="color: black;text-align: left;margin-top:4%;font-family:Calibri;hyphens: auto;max-width: 90%;margin: auto;text-align: justify;" class="text-justify">
                    We randomly adopts 104 videos with 13,963 frames as the test set. The testing videos adopt different data sources from the training data, i.e., different movies, web videos, or animations. Our VDW not only alleviates the data shortage for learning-based approaches, but also serves as a comprehensive benchmark for video depth.
                </h4>
                <img style="max-width: 100%;max-height: 100%;border-radius:2%;" src="statistics_page-0004.png" >
                <h6 style="color: black;margin-top:1%;">
                    <span style="font-weight: 1000;font-family: Caveat">VDW Testing Set</span> 
                </h6>
            </div>
        </div>
    </div>

    <!-- ----- -->


    <!-- <div style="margin-top: 4%;" class="height-md-2 height-sm-2 height-xs-1-5"> -->
    <div style="margin-top: 2%;width: 100%;" class="container construct-container construct-margin">
        <div style="margin: auto;" class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div style="vertical-align: middle;">
                <h6 style="color: black;margin-top:0px;">
                    <span style="font-weight: 1000;font-family: Caveat">Sky Segmentation</span> 
                </h6>
                <h4 style="color: black;text-align: left;margin-top:4%;font-family:Calibri;hyphens: auto;max-width: 90%;margin: auto;text-align: justify;" class="text-justify">
                    As sky is infinitely far, pixels in sky regions should be set to the minimum value in disparity maps. 
                    We generate sky masks in a model ensemble manner. 
                    Each frame along with its horizontally flipped copy are fed into two semantic segmentation models 
                    <span style="font-weight: 800;color: #007AFC;"><a href="https://github.com/NVlabs/SegFormer" style="color: #007AFC;">SegFormer</a></span> and 
                    <span style="font-weight: 800;color: #007AFC;"><a href="https://github.com/facebookresearch/Mask2Former" style="color: #007AFC;">Mask2Former</a></span>, which yields four sky masks in total. 
                    A pixel is considered as the sky when it is positive in more than two predicted sky masks. 
                    Besides, we also fill the connected regions with less than 50 pixels to further remove noisy holes in sky masks. 
    
                </h4>
            </div>
        </div>
        <div class="construct-item height-md-12 height-sm-12 height-xs-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <img style="max-width: 100%;max-height: 100%;border-radius:2%" src="construct_page-0003.jpg" >
        </div>
    </div>
    
    


</section>