<!-- <section class="bg-primary container team-pagepadding" style="background-color:lightgray;width:100%;opacity: 1;" id="team-contact"> -->
<section class="container team-pagepadding" style="width:100%;" id="team-contact">
    <div class="container" style="padding:0% 2% 8% 2%;background-color:rgba(255,255,255,0.4);width:100%;color: black;">
        <div style="text-align: center;color: rgb(50, 50, 50);max-width: 96%;margin: 1% auto 2% auto;">
            <p style="margin: 0% 1% auto;text-align: left;" class="sec-title"></p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center ">
                <h2 class="section-heading">The VDW Dataset is proposed by the <span style="font-weight: 600;color: #007AFC;"><a href="https://iccv2023.thecvf.com" style="color: #007AFC;">ICCV2023</a></span> paper 
                    <span style="font-weight: 600;color: #007AFC;"><a href="https://arxiv.org/abs/2307.08695" style="color: #007AFC;">“Neural Video Depth Stabilizer”</a></span></h2>
                <hr class="primary">
                <p style="font-family:Open Sans">Thanks all the authors for their contribution to our work, especially appreciate Jiaqi Li and Zihao Huang for their efforts and help in VDW dataset constructions.</p>
                
                <div class="paper-author">
                    Authors:
                    <a href="https://scholar.google.com.hk/citations?hl=zh-CN&user=p_RnaI8AAAAJ" target="_blank">Yiran Wang</a><sup>1</sup>,&nbsp;
                    <a href="https://www.semanticscholar.org/author/Min-Shi/1516268415" target="_blank">Min Shi</a><sup>1</sup>,&nbsp;
                    <a href="https://scholar.google.com/citations?hl=zh-CN&user=i-2ghuYAAAAJ" target="_blank">Jiaqi Li</a><sup>1</sup>,&nbsp;
                    <a href="https://orcid.org/0000-0002-8804-191X" target="_blank">Zihao Huang</a><sup>1</sup>,&nbsp;
                    <br><a href="http://english.aia.hust.edu.cn/info/1085/1528.htm" target="_blank">Zhiguo Cao</a><sup>1</sup>,&nbsp;
                    <a href="https://jimmie33.github.io/" target="_blank">Jianming Zhang</a><sup>2</sup>,&nbsp;
                    <a href="https://sites.google.com/site/kexian1991/" target="_blank">Ke Xian</a><sup>3&thinsp;*</sup>,&nbsp;
                    <a href="https://guosheng.github.io/" target="_blank">Guosheng Lin</a><sup>3</sup>
                </div>
                <br>
                <div class="paper-institution">
                    Institution:
                    <sup>1</sup>Huazhong University of Science and Technology<br>
                    <sup>2</sup>Adobe Research &nbsp;&nbsp;
                    <sup>3</sup>Nanyang Technological University
                </div>
                <br><br>
                <p style="font-family:Open Sans">Please refer to Usage and Application for applying, downloading, and using our VDW dataset. Your applications should be sent to 
                    <span style="font-weight: 600;color: #007AFC;"><a href="mailto:vdw.dataset@gmail.com" style="color: #007AFC;">VDW official email</a></span>. 
                    Feel free to contact us if you have any questions about the dataset.</p>
            </div>
            
            <div style="max-width: 70%;">
                <div class="col-md-4 col-xs-4 text-center">
                    <a href="https://raymondwang987.github.io/NVDS">
                        <i class="fa fa-code-fork fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <!-- <p>{{ site.project_username }}</p> -->
                    </a>
                </div>
                <div class="col-md-4 col-xs-4 text-center">
                    <a href="mailto:vdw.dataset@gmail.com">
                    <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <!-- <p>{{ site.email }}</p> -->
                    </a>
                </div>
                <div class="col-md-4 col-xs-4 text-center">
                    <a href="https://github.com/RaymondWang987/NVDS">
                    <i class="fa fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <!-- <p>{{ site.github_username }}</p> -->
                    </a>
                </div>
            </div>
        </div>
</section>
